## User settings
xcuserdata/
*.xcuserstate
.DS_Store

## API Keys
Keys.plist

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
