<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string></string>
	<key>parseClientKey</key>
	<string></string>
	<key>weatherAPIKey</key>
	<string></string>
	<key>placesAPIKey</key>
	<string></string>
	<key>imageAPIKey</key>
	<string></string>
</dict>
</plist>
